{% extends "layouts/layout.html" %}


{% block body %}



<div class="card research">   
    <div class="card-header">
        <h2>Contact Info</h2>
    </div> 

    <div class="card-group">

        <div class="card">
            <div class="card-body">
                <ADDRESS>
                    Leo Herr<BR>
                    University of Utah<BR>
                    Department of Mathematics, 125<BR>
                    155 S 1400 E RM 233<BR>
                    Salt Lake City, UT, 84112-0090, USA
                </ADDRESS>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                    Email: herr AT math DOT utah DOT edu<BR>
                    (the old "leo DOT herr AT colorado DOT edu" works also.)<BR>
                    Tel:  +1 801 588 5793<BR>
                    FAX:  +1 801 581 4148<BR>
            
            </div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header"><h2>Message Leo Herr</h2></div>

    <div class="card-body">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.text.label }}<br/>
                {{ form.text(rows=4, cols=50) }}<br/>
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            
            <p>
                {{ form.recaptcha}}<br>
                {% for error in form.recaptcha.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>




{% endblock %}