{% extends "layouts/layout.html" %}



{% block body %}


    
<div class="card">
    
    <div class="card-header">Piano</div>
    <div class="card-body">
        <p class="card-text">I am an amateur jazz and classical pianist and composer.</p>
    </div>
</div>


<div class="card">
    <div class="card-header">Guitar</div>
    
    <div class="card-body">
        <p class="card-text">I played bluegrass in free jams for two years in Boulder, CO. My training is in jazz guitar.</p>
    </div>


</div>

<div class="card">
    <div class="card-header">Parents</div>
    
    <div class="card-body">

        My parents, <a href="http://www.reidmusic.org/">Catherine Reid</a> and <a href="http://www.nealsongs.com/">Neal Herr</a>, 
        are both semi-professional musicians, composers, and librettists with masters' degrees in writing musicals.
    
    </div>

</div>



<div class="card">
    <div class="card-header">Cultural Cricism</div>
    
    <div class="card-body">
        <p class="card-text">
            I maintain a complete list of everything that is good, including movies, music, books, TV, chess, etc.
        </p>
        <p class="card-text"><a href="{{ url_for('contact') }}">Contact me</a> for an up-to-date version of the list.</p>
    </div>
</div>

<div class="card">
    <div class="card-header">Language Proficiency</div>
    
    <div class="card-body">Almost-conversational German, a little French and Dutch.</div>
</div>





{% endblock %}