{% extends "layouts/layout.html" %}



{% block body %}


<div class="container">
        
    <div class="card-group">
    <img class="card col-md-4" src="../../static/img/me_piano_lucy.jpg"/>
    
    
    <div class="card col-sm-5">
    
        <div class="card-header">Piano</div>
        <div class="row">
            <div class="card-body col-md-10">
                <p class="card-text">I am an amateur jazz and classical pianist and composer.</p>
    
                <p class="card-text">Here I am playing piano at a senior home with my sister. </p>
                <p>
                I wrote and recorded a piano part inspired by montunos and Herbie Hancock's "Maiden Voyage" for a country song "I Knew" that my dad wrote. Piano part begins at 1:30.
                <p>
                <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1114789906&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-121849780" title="nealherrmusic" target="_blank" style="color: #cccccc; text-decoration: none;">nealherrmusic</a> · <a href="https://soundcloud.com/user-121849780/i-knew-neal-vox-with-leo-edited-piano" title="I Knew (Neal Vox With Leo Edited Piano)" target="_blank" style="color: #cccccc; text-decoration: none;">I Knew (Neal Vox With Leo Edited Piano)</a></div>

            </div>
        </div>
    </div>
    <div class="card col-sm-2">
        <div class="card-header">Guitar</div>
    
        <div class="card-body">
            <p class="card-text">I played bluegrass in free jams for two years in Boulder, CO. My training is in jazz guitar.</p>
        </div>
    </div>
    </div>
    
    <div class="card">
    <div class="card-header">Parents</div>
    
    <div class="card-body">
        My parents, <a href="http://www.reidmusic.org/">Catherine Reid</a> and <a href="http://www.nealsongs.com/">Neal Herr</a>,
        are both professional musicians, composers, and librettists with masters' degrees in writing musicals.
    
    </div>
    
    </div>
    
    
    
    <div class="card">
    <div class="card-header">Cultural Criticism</div>
    
    <div class="card-body">
        <p class="card-text">
            I maintain a complete list of everything that is good, including movies, music, books, TV, chess, etc. I appreciate recommendations. I made three playlists of my favorite music:
        </p>
        <p class="card-text">
            Note: The Beatles, Tool, and System of a Down are not yet added. 
        </p>
        <p>
            The most concise:
            <iframe src="https://open.spotify.com/embed/playlist/4Aw85XGnl3mL3BaNKVAQ40" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        
        </p>
        <p>
            Here's also <a href="https://open.spotify.com/playlist/31OuaGbUSScrRGDFbfI1nN?si=4a0df996e1dd4f98">goldilocks</a> and the
            <a href="https://open.spotify.com/playlist/7k3kMh4hsWBdupjGC3TeQb?si=c2d028f108f64aef">most comprehensive</a>.
        </p>
        <p>
            Some songs aren't in there because spotify lacks a (good) recording: Lift every voice and sing, not just knee deep, etc. 
        </p>
        <p class="card-text"><a href="{{ url_for('contact') }}">Contact me</a> for an up-to-date version of the complete list.</p>
    </div>
    </div>
    
    <div class="card">
    <div class="card-header">Language Proficiency</div>
    
    <div class="card-body">
        <p class="card-text">Almost-conversational German, a little French and Dutch.</p>
        <p class="card-text">Conversational Latex, Python, Javascript, HTML/CSS, Flask, Bootstrap, etc.</p>
    </div>
    </div>
    
    
    <div class="card">
    <div class="card-header">Lily</div>
    
    <div class="row">
        <img class="col-md-4" src="../../static/img/lily_curious_closet.jpg"/>
        <div class="card-body col-md-3">
            <p class="card-text">
                My daughter is a budding feline food critic and model.
            </p>
        </div>
        <img class="col-md-5" src="../../static/img/lily_headshot.jpg"/>
    </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="card-text">Before math, I wrote <a href="https://www.saratoga.com/whatsnew/2013/08/lil-wayne-review/">reviews</a> for a marketing company in upstate New York. </div>
        </div>
    </div>




</div>





{% endblock %}