<!DOCTYPE html>
<html>
<head>
  <!--favicon is the natural numbers, with unicode hex #x2115 in html as &#x2115;-->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>&#x2115;</text></svg>">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Latest compiled and minified CSS 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

     jQuery library 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

     Latest compiled JavaScript 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    
    <!-- old bootstrap and css links
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../static/js/bootstrap.js"></script>-->
    
    <!--Deprecated flask/jinja2 way to link collaborators. Now done automatically with javascript
    {% macro collab(strname) -%}
    {% if collaborator_link_dict %}{% if strname in collaborator_link_dict %}<a href="{{ collaborator_link_dict[strname] }}">{{ strname }}</a>{% else %}{{ strname }}{% endif %}{% endif %}
    {%- endmacro %}
    -->

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <title>
        {{ pgname }}
    </title>
    {% if added_css %}
    <link href="../static/css/{{ added_css }}" rel="stylesheet" type="text/css">
    {% endif %}


    <style>
      html {
        font-size: 100%;
      }
    </style>


    <!--SEO Google-->
    <meta name="google-site-verification" content="od4n45Oozzlr8J4zWykw-f2-GGjbRMeCpTxCmH34zIw" />
    <!--SEO description for each page-->
    {% if metadesc %}
    <meta name="description" content="{{ metadesc }}">
    {% endif %}
</head>
<body>

  {% for message in get_flashed_messages() %}
  <div class="flash alert-success">{{ message }}</div>
  {% endfor %}
        {% if no_navbar %}
        {% else %}
        <div class="card sticky-top">
          <ul class="nav justify-content-center nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{ url_for("personal") }}'>Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{ url_for("contact") }}'>Contact</a>
            </li>
          </ul>
          
        </div>

        {% endif %}

        

        {% block body %}
        {% endblock %}






</body>
</html>
