{% extends "layouts/layout.html" %}


{% block body %}





<div class="card research">   
    <div class="card-header">
        <h2>Contact Info</h2>
    </div> 

    <div class="card-group">

        <div class="card">
            <div class="card-body">
                <ADDRESS>
                    Leo Herr<BR>
                    University of Leiden<BR>
                    Mathematisches Institute, 225<BR>
                    Leiden, South Holland, Netherlands
                </ADDRESS>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                    Email: logsmooth23 AT gmail DOT com <br>
                    The old leidenuniv email no longer works. 
            </div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header"><h2>Message Leo Herr</h2></div>

    <div class="card-body">
        <div class="row">
            <form action="" class="col-md-6" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.text.label }}<br/>
                    {{ form.text(rows=4, cols=50) }}<br/>
                    {% for error in form.text.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            
                <p>
                    {{ form.recaptcha}}<br>
                    {% for error in form.recaptcha.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            <img class="col-md-6" src="../../static/img/me_sun_photo.jpg"/>
        </div>
    </div>
</div>




{% endblock %}